.hamburger {
 width: 1.5rem;
 height: 1.375rem;
 display: inline-flex;
 flex-direction: column;
 justify-content: space-between;
 display: none;
 margin-top: .75rem;
 @include tablets {
  display: inline-flex;
 }

  &__plank {
    display: block;
    background: #fff;
    height: .25rem;
    border-radius: .625rem;
  }
}

