.hero {
  background: url(./../img/hero-bg.png) no-repeat bottom;
  background-size:cover;
  height: 100vh;
  filter: drop-shadow(0rem .25rem .25rem rgba(0, 0, 0, 0.25));
  color: #fff;

  @include tablets {
    background: none;
  }

  .button {
    @include phones {
      font-weight: 800;
      font-size: 1.125rem;
      line-height: 1.5625rem;
    }
  }
}

.hero__features {

  @include tablets {
    display: none;
  }
}

.hero__over-header {
  @include tablets {
    background: #1968B1;
    height: 8vh;
  }
}

.hero__over-title {
  @include tablets {
    background: url(./../img/hero-bg-mobile.png) no-repeat center;
    background-size:cover;
    height: 92vh;
    display: flex;
  }
}