.order-section {
  background: url(./../img/board-man.jpg) no-repeat top;
  background-size:cover
}

.order-section__title {
  color: white;
  margin-bottom: 4rem;
  margin-top: -4.4375rem;
}